/func-mdn-1.html
/func-mdn.html
/func-prac-1.html
/mdn-black-white.html
/mdn-capital-letter-fixed.html
/mdn-draw.html
/mdn-filling-guest-list.html
/mdn-filtering.html
/mdn-find-number.html
/mdn-invoice.html
/mdn-lauch-countdown.html
/mdn-loop-task2.html
/mdn-loop-task3.html
/mdn-loop-test1.html
/mdn-more-color.html
/mdn-one-number-guess.html
/mdn-press-me.html
/mdn-printing-products.html
/mdn-search.html
/mdn-silly-story.html
/mdn-silly-story.js
/mdn-simple-calender.html
/mdn-train.html
/mdn-variable.html
/switch-case-mdn.html
/workspace.code-workspace